{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_filters %}

{% block title %}
{% translate "create/update news" %}
{% endblock title %}

{% block content %}
<div class="row justify-content-center pt-3">
    <div class="col-md-12 col-lg-8">
        <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary
        btn-block">{% translate "publish" %}</button>
        </form>
    </div>
</div>



{% endblock content %}
